html {
  padding: 0;
  overflow-x: hidden; 
  background-color: #EBEEF0;}

form {
  margin: 0; }

body {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  color: #1f2c33;
  background-color: #EBEEF0;}
  body, body input {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400; }
  body img {
    vertical-align: middle; }
  body * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.pull-right {
  float: right; }

.container, section, header, footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 5px;
  padding-bottom: 1px;
}

header {
  position: relative;
  line-height: 1;
  margin-bottom: 5px;
  padding: 0;
  *zoom: 1; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }

footer {
  margin-top: 10px;
  text-align: center; }

section {
  border: 1px solid #dfe4e7;
  background-color: #fff;
  *zoom: 1;
  overflow: hidden; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    clear: both; }

.loading {
  background-color: #fff;
  padding: 100px 0 120px;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  letter-spacing: 2px;
  font-weight: bold; }
  .loading + .no-results {
    display: none; }

.mojigroup.button {
  margin: 0 0 10px 5px;
  padding: 3px 4px 1px; }
  .mojigroup.button.active {
    background-color: #f9f9f9;
    border-color: #58b2ee; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #0275b8; }
  a:link {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out; }
  a img {
    width: 16px;
    height: 16px; }

input:invalid {
  visibility: hidden; }

ul {
  text-align: left;
  padding: 0;
  margin: 0; }

.plain {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  width: 100%;
  appearance: none;
  border: 0;
  box-shadow: none;
  background-color: transparent; }
  .plain:focus {
    box-shadow: none;
    outline: none; }

.emoji-group {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0; }

.emojis-container {
  font-size: 0;
  line-height: 0; }

.emoji-wrapper {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 49%;
  height: 1.5em;
  overflow: hidden;
  white-space: nowrap; }
  .emoji-wrapper .keywords {
    font-size: 0; }
  .emoji-wrapper .emoji,
  .emoji-wrapper .native-emoji {
    position: absolute;
    margin-top: -3px; }
  .emoji-wrapper input {
    margin-left: 5px; }
  .emoji-wrapper i.fa {
    text-align: center;
    width: 1.1em; }
  .emoji-wrapper a:hover i.fa {
    color: #013e62; }    
  .emoji-wrapper a {
    margin-left: 3px;
    margin-right: 3px;
    width: 100%;
    display: block; }
  .emoji-wrapper a:hover, .emoji-wrapper a:focus{
   text-decoration: underline; 
   color: #013e62; }

.global-zeroclipboard-container {
  background-color: rgba(0, 0, 0, 0.02); }

ul.hide-text .emoji-wrapper {
  width: 30px;
  height: 40px; }
ul.hide-text input {
  display: none; }

ul, li {
  list-style-type: none; }

.button {
  line-height: 1;
  padding: 10px 12px 9px;
  margin-left: 5px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  vertical-align: top;
  border-radius: 35px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.75);
  background-color: #013E62;
  text-transform: uppercase;
  font-weight: bold; }
  .button:hover {
    color: white; }
  .button.clear-search {
    color: #ee9d9d; }
    .button.clear-search:hover {
      border-color: #ee9d9d; }

.input-search {
  min-height: 32px;
  padding: 7px 15px;
  outline: none;
  color: #333;
  background-repeat: no-repeat;
  background-position: right center;
  border: 1px solid #ddd;
  margin: 0;
  width: 150px;
  border-radius: 15px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  appearance: textfield; }
  .input-search:focus {
    border-color: #51a7e8;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5); }
  .input-search::-webkit-search-cancel-button, .input-search::-webkit-search-decoration {
    -webkit-appearance: none; }

.alert {
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: none;
  position: fixed;
  margin: auto;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  top: 10px;
  background: rgba(10, 50, 90, 0.7);
  color: #fff;
  font-weight: bold;
  padding: 7px;
  text-align: center;
  border-radius: 5px; }

.native-emoji,
.emoji {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  cursor: pointer; }

.native-emoji {
  font-size: 19px;
  padding: 10px 2px;
  font-family: AppleColorEmoji; }

.emoji {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

.no-results {
  padding: 50px 30px;
  text-align: center;
  border-radius: 3px; }

.call {
  font-size: 16px; }

.no-results-text {
  font-weight: bold;
  color: #555;
  border-bottom: 1px solid #aaa;
  display: inline-block;
  padding-bottom: 2px;
  text-transform: uppercase; }

.contribute-button {
  background-color: #013E62;
  color: #fff; }

code {
  background-color: #f8f8f8;
  border: 1px solid #aaa;
  padding: 0 2px;
  border-radius: 3px;
  color: #666;
  font-family: Monaco, monospace;
  font-size: 11px; }

.tips {
  color: #777; }
  
.fright {
 float: right;
 vertical-align: middle;
 font-weight: bold; 
}

.logo {
  float: right;
}
.logo img {
 width: auto;
 height: auto;
}  

@media (max-width: 685px) {
  .emoji-wrapper {
    font-size: 18px;
  }
  .emoji-wrapper a {
    font-size: 18px;
    margin-bottom: 6px;
  }
  .input-search {
    width: 65%; }
    
  .no-results {        
    padding: 0; }    

  input {
    font-size: 14px; }

  ul {
    padding: 0; }
    
  .forkme {
    display: none;
  }    

  .emoji-wrapper {
    padding: 0;
    width: 100%; }
    
  .fright {
    display: none;
  } }

@media (max-width: 960px) {
  .forkme {
    display: none;
  }
}
